Repository GlobalNomads/TripNomadHub, pull requests merged in 2024-08, with the labels that each got.

#20 feat: 로그인 api 처리 작업
  app/(auth)/_components/SigninForm.tsx
  app/api/postRefreshToken.ts
  app/api/postSignin.ts
  app/types/auth.type.ts
  app/utils/createParams.ts
  app/utils/fetchInstance.ts
Labels: ✨ feat

#21 feat: 체험 상세 페이지 '후기'
  app/activities/[activityId]/page.tsx
  app/activities/_components/ActivityDescription.tsx
  app/activities/_components/ActivityReviews.tsx
  app/activities/_components/Review.tsx
  app/activities/mockData.ts
  app/activities/page.tsx
Labels: ✨ feat

#24 feat: 예약 내역 페이지용 버튼 추가
  app/components/Button/Button.tsx
  app/components/Button/ReservationButtons.tsx
  app/components/Button/page.tsx
Labels: ✨ feat

#25 feat: 회원가입 api 작업 완료
  app/(auth)/_components/SignupForm.tsx
  app/api/postSignup.ts
Labels: ✨ feat

#26 feat: 헤더 UI 구조 작업
  app/components/Header/Header.tsx
  app/page.tsx
  tsconfig.json
Labels: ✨ feat

#27 feat: layout 설정 및 반응형 설정 완료
  app/(features)/(user)/layout.tsx
  app/(features)/(user)/myactivities/page.tsx
  app/(features)/(user)/myprofile/page.tsx
  app/(features)/(user)/myreservations/_components/ButtonWithHover.tsx
  app/(features)/(user)/myreservations/_components/ProfileImage.tsx
  app/(features)/(user)/myreservations/_components/ReservationCard.tsx
  app/(features)/(user)/myreservations/page.tsx
  app/(features)/(user)/reservation-schedule/page.tsx
  app/(features)/activities/[activityId]/page.tsx
  app/(features)/activities/_components/ActivityDescription.tsx
  app/(features)/activities/_components/ActivityImageGallery.tsx
  app/(features)/activities/_components/ActivityReviews.tsx
  app/(features)/activities/_components/ActivityTitle.tsx
  app/(features)/activities/_components/DropDownMenu.tsx
  app/(features)/activities/_components/Review.tsx
  app/(features)/activities/_components/SwiperContainer.tsx
  app/(features)/activities/_components/swiper.d.ts
  app/(features)/activities/mockData.ts
  app/(features)/layout.tsx
  app/(features)/mainpage/_components/Banner.tsx
  app/(features)/mainpage/_components/SearchBar.tsx
  app/(features)/mainpage/page.tsx
  app/(features)/page.tsx
  app/components/Header/Header.tsx
  app/components/SideNav/ButtonWithHover.tsx
  app/components/SideNav/ProfileImage.tsx
  app/components/SideNav/SideNavCard.tsx
  app/mainpage/_components/Banner.tsx
  app/styles/globals.css
Labels: ✨ feat

#28 feat: layout 조정
  app/(features)/activities/_components/ActivityDescription.tsx
  app/(features)/activities/_components/ActivityReviews.tsx
  app/(features)/activities/_components/Review.tsx
  app/(features)/layout.tsx
  app/(features)/mainpage/page.tsx
  app/(features)/page.tsx
  app/components/DropDown/DropDown.tsx
  app/components/MainPage/Banner.tsx
  app/components/MainPage/MainPage.tsx
  app/components/MainPage/SearchBar.tsx
  app/page.tsx
  app/styles/globals.css
Labels: ✨ feat

#29 feat: header 로그인 전 처리 작업
  app/components/Header/Header.tsx
  app/components/Header/HeaderForm.tsx
  tailwind.config.ts
Labels: ✨ feat

#33 feat: ReservationFloatingBox
  app/(auth)/_components/SignupForm.tsx
  app/(features)/activities/[activityId]/page.tsx
  app/(features)/activities/_components/ActivityDescription.tsx
  app/(features)/activities/_components/DatePickerStyles.css
  app/(features)/activities/_components/ParticipantCount.tsx
  app/(features)/activities/_components/PriceInfo.tsx
  app/(features)/activities/_components/ReservationFloatingBox.tsx
  app/(features)/activities/_components/ScheduleSelector.tsx
  app/(features)/activities/_components/TotalPrice.tsx
  app/(features)/activities/mockData.ts
  app/components/Button/Button.tsx
  app/components/Button/SubmitButton.tsx
  app/components/DropDown/DropDown.tsx
  app/components/Header/Header.tsx
  package-lock.json
  package.json
Labels: ✨ feat

#32 feat: API 일괄 처리 작성
  app/(auth)/_components/SigninForm.tsx
  app/(auth)/_components/SignupForm.tsx
  app/api/Activities/getActivities.ts
  app/api/Activities/getActivitiesId.ts
  app/api/Activities/getActivitiesIdRev.ts
  app/api/Activities/getActivitiesIdSch.ts
  app/api/Activities/postActivities.ts
  app/api/Activities/postActivitiesIdRez.ts
  app/api/Activities/postActivitiesImg.ts
  app/api/Auth/postLogin.ts
  app/api/Auth/postTokens.ts
  app/api/MyActivities/deleteMyActivitiesId.ts
  app/api/MyActivities/getMyActivities.ts
  app/api/MyActivities/getMyActivitiesIdDash.ts
  app/api/MyActivities/getMyActivitiesIdRes.ts
  app/api/MyActivities/getMyActivitiesIdSch.ts
  app/api/MyActivities/patchMyActivitiesId.ts
  app/api/MyActivities/patchMyActivitiesIdResId.ts
  app/api/MyNotifications/deleteMyNotifications.ts
  app/api/MyNotifications/getMyNotifications.ts
  app/api/MyReservations/getMyReservations.ts
  app/api/MyReservations/patchMyReservations.ts
  app/api/MyReservations/postMyReservations.ts
  app/api/Oauth/postOauthApps.ts
  app/api/Oauth/postOauthSignin.ts
  app/api/Oauth/postOauthSignup.ts
  app/api/Users/postUsers.ts
  app/api/Users/postUsersMeImg.ts
  app/types/activities.type.ts
  app/types/auth.type.ts
  app/types/myActivities.type.ts
  app/types/myNotifications.type.ts
  app/types/myReservations.type.ts
  app/types/oauth.type.ts
  app/utils/fetchInstance.ts
Labels: ✨ feat

#34 feat: 체험 장소 표현 - 카카오 지도 적용
  app/(features)/activities/[activityId]/page.tsx
  app/(features)/activities/_components/ActivityDescription.tsx
  app/(features)/activities/_components/ActivityImageGallery.tsx
  app/(features)/activities/_components/ActivityLocation.tsx
  app/(features)/activities/_components/ActivityTitle.tsx
  app/(features)/activities/_components/DropDownMenu.tsx
  app/(features)/activities/_components/ReservationFloatingBox.tsx
  app/(features)/activities/_components/TotalPrice.tsx
  app/styles/globals.css
Labels: ✨ feat

#30 feat: MainPage UI
  app/assets/icon/mini_star.svg
  app/components/Footer/Footer.tsx
  app/components/MainPage/Activity.tsx
  app/components/MainPage/Banner.tsx
  app/components/MainPage/CategoryFilter.tsx
  app/components/MainPage/MainPage.tsx
  app/components/MainPage/Pagination.tsx
  app/components/MainPage/PopularActivity.tsx
  app/components/MainPage/SearchBar.tsx
  app/components/MainPage/types.tsx
Labels: ✨ feat

#36 feat: 체험상세 페이지 후기 pagination 적용
  app/(features)/activities/[activityId]/page.tsx
  app/(features)/activities/_components/ActivityReviews.tsx
  app/(features)/layout.tsx
  app/components/Button/Button.tsx
  app/components/Button/PaginationButton.tsx
  app/components/Pagination/index.tsx
Labels: ✨ feat

#37 feat: 로그인 후 헤더 부분
  app/api/Auth/postLogout.ts
  app/api/Users/getUsersMe.ts
  app/assets/icon/userProfileIcon.svg
  app/components/Header/HeaderForm.tsx
  app/components/Header/UserProfileDropDown.tsx
  app/context/AuthContext.tsx
  app/hooks/useImageLoad.ts
  app/hooks/useToggle.ts
  app/layout.tsx
Labels: ✨ feat

#23 feat: 예약 내역 카드 반응형 UI
  app/(features)/(user)/layout.tsx
  app/(features)/(user)/myreservations/_components/ButtonWithHover.tsx
  app/(features)/(user)/myreservations/_components/EmptyPage.tsx
  app/(features)/(user)/myreservations/_components/OpenModal.tsx
  app/(features)/(user)/myreservations/_components/ProfileImage.tsx
  app/(features)/(user)/myreservations/_components/ReservationCard.tsx
  app/(features)/(user)/myreservations/_components/StatusUtils.tsx
  app/(features)/(user)/myreservations/page.tsx
  app/(features)/mainpage/_components/Banner.tsx
  app/(features)/mainpage/_components/SearchBar.tsx
  app/(features)/mainpage/page.tsx
  app/QueryProvider.tsx
  app/components/Modal/ReviewModal.tsx
  app/components/SideNav/ButtonWithHover.tsx
  app/components/SideNav/PencilButton.tsx
  app/components/SideNav/ProfileImage.tsx
  app/layout.tsx
  next.config.mjs
  package-lock.json
  package.json
Labels: ✨ feat

#39 feat: 알림 기능 추가
  app/(features)/layout.tsx
  app/components/Header/Alarm/AlarmModal.tsx
  app/components/Header/Alarm/MessageAlarm.tsx
  app/components/Header/Alarm/NoAlarmMessage.tsx
  app/components/Header/Header.tsx
  app/components/Header/HeaderForm.tsx
  app/components/Header/UserProfileDropDown.tsx
  app/context/AlarmContext.tsx
  app/layout.tsx
  app/page.tsx
  app/utils/debounce.ts
  package-lock.json
  package.json
Labels: ✨ feat

#40 feat: 마이페이지 UI 추가 작업
  app/(features)/(user)/myprofile/_components/ErrorText.tsx
  app/(features)/(user)/myprofile/_components/Input.tsx
  app/(features)/(user)/myprofile/_components/Label.tsx
  app/(features)/(user)/myprofile/_components/MyProfileForm.tsx
  app/(features)/(user)/myprofile/page.tsx
Labels: ✨ feat

#41 refactor: 성능 최적화를 위한 server component/client component 분리(ActivityLocation/ActivityReview)
  app/(features)/activities/[activityId]/page.tsx
  app/(features)/activities/_components/ActivityLocationClient.tsx
  app/(features)/activities/_components/ActivityLocationServer.tsx
  app/(features)/activities/_components/ActivityReviewClient.tsx
  app/(features)/activities/_components/ActivityReviewServer.tsx
  app/(features)/activities/_components/ActivityReviews.tsx
  app/(features)/activities/_components/ScheduleSelector.tsx
  app/types/activities.type.ts
Labels: ✨ feat

#43 📌 feat: API 연결 작업
  app/(features)/(user)/myprofile/_components/MyProfileForm.tsx
Labels: ✨ feat

#44 fix: 리뷰 존재하는 activityId 페이지 에러 해결 + 리뷰 컴포넌트 수정
  app/(features)/activities/[activityId]/page.tsx
  app/(features)/activities/_components/ActivityReview.tsx
  app/(features)/activities/_components/ActivityReviewClient.tsx
  app/(features)/activities/_components/ActivityReviewServer.tsx
  app/(features)/activities/_components/Review.tsx
  app/assets/icon/ic_default_reviewprofile.png
  app/components/Pagination/index.tsx
Labels: 🚨 fix

#45 feat: 프로필이미지 변경 연필버튼 API 연결
  app/(features)/(user)/myreservations/_components/ReservationCard.tsx
  app/(features)/mainpage/_components/Banner.tsx
  app/(features)/mainpage/_components/SearchBar.tsx
  app/(features)/mainpage/page.tsx
  app/api/Users/patchUsersMe.ts
  app/api/Users/postUsersMeImg.ts
  app/components/EmptyPage/EmptyPage.tsx
  app/components/Modal/DefaultModal.tsx
  app/components/SideNav/PencilButton.tsx
  app/components/SideNav/ProfileImage.tsx
  app/components/SideNav/SideNavCard.tsx
Labels: ✨ feat

#46 fix: 작성 코드 리펙토링 작업
  app/(auth)/_components/SigninForm.tsx
  app/(auth)/_components/SignupForm.tsx
  app/components/Header/Alarm/MessageAlarm.tsx
  app/components/Header/Header.tsx
  app/components/Header/HeaderForm.tsx
  app/components/Header/UserProfileDropDown.tsx
  app/context/AuthContext.tsx
  app/layout.tsx
  app/lib/auth.ts
Labels: ✨ feat

#49 feat: 마이프로필 페이지 & 토글 수정
  app/(features)/(user)/myprofile/_components/Input.tsx
  app/(features)/(user)/myprofile/_components/Label.tsx
  app/(features)/(user)/myprofile/_components/MyProfileForm.tsx
  app/api/Auth/postTokens.ts
  app/components/Header/DropDownBox.tsx
  app/components/Header/HeaderForm.tsx
  app/components/Header/UserProfileDropDown.tsx
  app/components/SideNav/PencilButton.tsx
  app/context/AlarmContext.tsx
  app/hooks/useWindowSize.ts
  app/utils/debounce.ts
  package-lock.json
  package.json
Labels: ✨ feat

#50 feat: 내 예약현황 Empty 페이지 작성
  app/(features)/(user)/myactivities/page.tsx
Labels: ✨ feat

#42 feat: MainPage API 작업
  .env
  app/components/Footer/Footer.tsx
  app/components/MainPage/Activity.tsx
  app/components/MainPage/AllActivities.tsx
  app/components/MainPage/MainPage.tsx
  app/components/MainPage/Pagination.tsx
  app/components/MainPage/PopularActivities.tsx
  app/components/MainPage/PopularActivity.tsx
  app/components/MainPage/SearchBar.tsx
  app/components/MainPage/types.tsx
Labels: ✨ feat

#52 feat: 예약 현황 라이브러리 제외 UI 작업
  app/(features)/(user)/myactivities/page.tsx
  app/(features)/(user)/reservation-schedule/_components/ResScheduleForm.tsx
  app/(features)/(user)/reservation-schedule/_components/SelectBox.tsx
  app/(features)/(user)/reservation-schedule/mockData.ts
  app/(features)/(user)/reservation-schedule/page.tsx
  app/components/Header/UserProfileDropDown.tsx
Labels: ✨ feat

#54 feat: 예약 현황 페이지 예약 정보 모달
  app/(features)/(user)/reservation-schedule/_components/CurrentReservationsModal.tsx
  app/(features)/(user)/reservation-schedule/_components/MockData.ts
  app/(features)/(user)/reservation-schedule/_components/ReservationList.tsx
  app/(features)/(user)/reservation-schedule/_components/ReservationTabs.tsx
  app/(features)/(user)/reservation-schedule/_components/SelectBoxReservationsList.tsx
  app/(features)/activity/_components/DropDownMenu.tsx
  app/assets/icon/ic_arrow_down.svg
  app/components/DropDown/DropDown.tsx
  app/components/Modal/CancelModal.tsx
  app/components/Modal/ConfirmModal.tsx
  app/components/Modal/DefaultModal.tsx
  app/components/Modal/Modal.tsx
  app/components/Modal/ReviewModal.tsx
  app/components/Modal/page.tsx
Labels: ✨ feat

#55 feat: ActivityReveiw & ImageGallery 리팩토링(데이터 fetching 최적화 작업)
  app/(features)/activity/[activityId]/page.tsx
  app/(features)/activity/_components/ActivityImageGallery.tsx
  app/(features)/activity/_components/ActivityLocation.tsx
  app/(features)/activity/_components/ActivityReview.tsx
  app/(features)/activity/_components/ActivityReviewClient.tsx
  app/(features)/activity/_components/SwiperContainerClient.tsx
Labels: 🐱‍🐉 enhancement, 🔧 refactor

#58 feat: 삭제하기 기능, 체험 생성자에게만 케밥 버튼 보이기 적용
  app/(features)/activity/[activityId]/page.tsx
  app/(features)/activity/_components/DropDownMenu.tsx
  app/api/MyActivities/deleteMyActivitiesId.ts
  app/components/DropDown/DropDown.tsx
Labels: 🚩 help wanted, ✨ feat

#59 feat: 라이브러리 달력 UI 세팅
  app/(features)/(user)/reservation-schedule/_components/Calendar.tsx
  app/(features)/(user)/reservation-schedule/_components/ResScheduleForm.tsx
  package-lock.json
  package.json
Labels: ✨ feat

#60 refactor: 체험상세페이지
  app/(features)/activity/[activityId]/page.tsx
  app/(features)/activity/_components/DatePickerStyles.css
  app/(features)/activity/_components/DropDownMenu.tsx
  app/(features)/activity/_components/ReservationFloatingBox.tsx
  app/(features)/activity/_components/Review.tsx
  app/(features)/activity/_components/ScheduleSelector.tsx
  next.config.mjs
Labels: 🐱‍🐉 enhancement, 🔧 refactor

#57 feat: 후기모달 API 연결
  app/(features)/(user)/myreservations/_components/DropdownItems.tsx
  app/(features)/(user)/myreservations/_components/Modal/MakeStar.tsx
  app/(features)/(user)/myreservations/_components/Modal/ReservationInfo.tsx
  app/(features)/(user)/myreservations/_components/OpenModal.tsx
  app/(features)/(user)/myreservations/_components/ReservationCard.tsx
  app/(features)/(user)/myreservations/_components/StatusUtils.tsx
  app/(features)/(user)/myreservations/page.tsx
  app/api/MyReservations/postMyReservations.ts
  app/assets/icon/Rectangle 4.svg
  app/components/Button/ReservationButtons.tsx
  app/components/DropDown/DropDown.tsx
  app/components/Modal/DefaultModal.tsx
  app/components/Modal/ReviewModal.tsx
  app/components/Modal/page.tsx
  app/components/SideNav/ProfileImage.tsx
  app/types/myReservations.type.ts
  package-lock.json
  package.json
Labels: ✨ feat

#53 feat: 2차 리펙토링
  app/(auth)/_components/Input.tsx
  app/(auth)/_components/SigninForm.tsx
  app/(auth)/_components/SignupForm.tsx
  app/(features)/(user)/myprofile/_components/Input.tsx
  app/(features)/(user)/myprofile/_components/MyProfileForm.tsx
  app/assets/icon/userProfileIcon.svg
  app/components/Header/HeaderForm.tsx
  app/components/Header/UserProfileDropDown.tsx
  app/hooks/useBoolean.ts
  app/utils/fetchInstance.ts
Labels: 🐱‍🐉 enhancement, 🔧 refactor

#63 refactor: 이미지 갤러리 배치 수정 + 폴더 구조 수정 + floating box 위치 조정
  app/(features)/activity/[activityId]/page.tsx
  app/(features)/activity/_components/ActivityImageGallery.tsx
  app/(features)/activity/_components/ActivityImageGallery/SwiperContainer.tsx
  app/(features)/activity/_components/ActivityImageGallery/SwiperContainerClient.tsx
  app/(features)/activity/_components/ActivityImageGallery/index.tsx
  app/(features)/activity/_components/ActivityImageGallery/swiper.d.ts
  app/(features)/activity/_components/ReservationFloatingBox/DatePickerStyles.css
  app/(features)/activity/_components/ReservationFloatingBox/ParticipantCount.tsx
  app/(features)/activity/_components/ReservationFloatingBox/PriceInfo.tsx
  app/(features)/activity/_components/ReservationFloatingBox/ScheduleSelector.tsx
  app/(features)/activity/_components/ReservationFloatingBox/TotalPrice.tsx
  app/(features)/activity/_components/ReservationFloatingBox/index.tsx
  app/components/SideNav/ProfileImage.tsx
Labels: 🐱‍🐉 enhancement, 🔧 refactor

#65 fix: 잘못된 이미지 배치 수정
  app/(features)/activity/_components/ActivityImageGallery/index.tsx
Labels: 🚨 fix

#66 feat:체험등록페이지 ui
  app/(features)/(user)/myactivities/_components/AddressForm.tsx
  app/(features)/(user)/myactivities/_components/DatePickerStyles.css
  app/(features)/(user)/myactivities/_components/EditTitle.tsx
  app/(features)/(user)/myactivities/_components/ImageUploadForm.tsx
  app/(features)/(user)/myactivities/_components/PriceForm.tsx
  app/(features)/(user)/myactivities/_components/ScheduleForm.tsx
  app/(features)/(user)/myactivities/_components/TitleForm.tsx
  app/(features)/(user)/myactivities/page.tsx
Labels: ✨ feat

#68 feat: 예약 현황 모달 연결
  app/(features)/(user)/reservation-schedule/_components/Calendar.tsx
  app/(features)/(user)/reservation-schedule/_components/CurrentReservationsModal.tsx
  app/components/Modal/page.tsx
  package-lock.json
  package.json
Labels: ✨ feat

#69 feat: 체험 등록 API 연결
  app/(features)/(user)/myactivities/_components/AddressForm.tsx
  app/(features)/(user)/myactivities/_components/CategorySelect.tsx
  app/(features)/(user)/myactivities/_components/DescriptionForm.tsx
  app/(features)/(user)/myactivities/_components/ImageUploadForm.tsx
  app/(features)/(user)/myactivities/_components/PriceForm.tsx
  app/(features)/(user)/myactivities/_components/ScheduleForm.tsx
  app/(features)/(user)/myactivities/_components/TitleForm.tsx
  app/(features)/(user)/myactivities/activity-registration/page.tsx
  app/(features)/(user)/myactivities/page.tsx
  app/api/Activities/postActivities.ts
  app/api/Activities/postActivitiesImg.ts
  app/types/category.type.ts
  app/types/myActivities.type.ts
Labels: ✨ feat

#71 fix: Link 주소 수정
  app/(features)/(user)/myactivities/page.tsx
Labels: 🚨 fix

#62 feat: 메인페이지 카테고리 필터 기능
  app/assets/image/forest.png
  app/assets/image/mountain.png
  app/components/Button/CategoryButton.tsx
  app/components/MainPage/Activity.tsx
  app/components/MainPage/AllActivities.tsx
  app/components/MainPage/Banner.tsx
  app/components/MainPage/CategoryFilter.tsx
  app/components/MainPage/MainPage.tsx
  app/components/MainPage/PopularActivity.tsx
  app/components/MainPage/SearchBar.tsx
  app/components/MainPage/SortFilter.tsx
  app/utils/debounce.ts
Labels: ✨ feat

#72 전체 페이지 리펙토링 3차
  app/(auth)/_components/AuthHr.tsx
  app/(auth)/_components/SimpleSignin.tsx
  app/(auth)/_components/SimpleSignup.tsx
  app/(auth)/signin/page.tsx
  app/(auth)/signup/page.tsx
  app/(features)/(user)/myprofile/_components/MyProfileForm.tsx
  app/ClientOnlyComponent.tsx
  app/api/Oauth/postOauthSignin.ts
  app/api/Oauth/postOauthSignup.ts
  app/assets/icon/ic_google.svg
  app/assets/icon/ic_kakao.svg
  app/hooks/useCleanupOnUnload.ts
  app/layout.tsx
  app/utils/fetchInstance.ts
Labels: ✨ feat

#67 feat: 드롭다운 연결 / 후기-메시지모달 연결
  .eslintrc.json
  app/(features)/(user)/myreservations/_components/DropdownItems.tsx
  app/(features)/(user)/myreservations/_components/Modal/ReservationInfo.tsx
  app/(features)/(user)/myreservations/_components/ReservationCard.tsx
  app/(features)/(user)/myreservations/page.tsx
  app/(features)/activity/_components/DropDownMenu.tsx
  app/api/MyReservations/getMyReservations.ts
  app/components/DropDown/DropDown.tsx
  app/components/MainPage/PopularActivity.tsx
  app/components/Modal/ConfirmModal.tsx
  app/components/Modal/DefaultModal.tsx
  app/components/Modal/ReviewModal.tsx
  app/components/SideNav/ProfileImage.tsx
  app/types/myActivities.type.ts
Labels: ✨ feat

#74 feat: 내 체험 관리
  app/(features)/(user)/myactivities/page.tsx
  app/components/ReservationCard/index.tsx
Labels: ✨ feat

#75 feat: 내 체험 수정 페이지..
  app/(features)/(user)/myactivities/activity-edit/[id]/_components/ImageUploadForm.tsx
  app/(features)/(user)/myactivities/activity-edit/[id]/_components/ScheduleForm.tsx
  app/(features)/(user)/myactivities/activity-edit/[id]/page.tsx
  app/(features)/activity/_components/DropDownMenu.tsx
  app/api/MyActivities/patchMyActivitiesId.ts
  app/hooks/useCleanupOnUnload.ts
  app/hooks/useMultipleFiles.ts
  app/hooks/useSingleFiles.ts
Labels: ✨ feat

#81 fix: 내 체험관리 중복 호출 문제 해결 & 스타일 조정
  app/(features)/(user)/myactivities/MyActivitiesClient.tsx
  app/(features)/(user)/myactivities/page.tsx
  app/components/ReservationCard/PriceComponent.tsx
  app/components/ReservationCard/index.tsx
Labels: 🚨 fix

#80 feat: 예약현황 모달 데이터 제거 및 리펙토링
  app/(auth)/_components/SigninForm.tsx
  app/(features)/(user)/reservation-schedule/_components/Calendar.tsx
  app/(features)/(user)/reservation-schedule/_components/CalendarList.tsx
  app/(features)/(user)/reservation-schedule/_components/CurrentReservationsModal.tsx
  app/(features)/(user)/reservation-schedule/_components/MockData.ts
  app/(features)/(user)/reservation-schedule/_components/NoSelectPage.tsx
  app/(features)/(user)/reservation-schedule/_components/ResScheduleForm.tsx
  app/(features)/(user)/reservation-schedule/_components/ReservationList.tsx
  app/(features)/(user)/reservation-schedule/_components/SelectBoxReservationsList.tsx
  app/(features)/(user)/reservation-schedule/_components/mock.ts
  app/(features)/(user)/reservation-schedule/mockData.ts
  app/ClientOnlyComponent.tsx
  app/api/Auth/postLogin.ts
  app/api/Auth/postLogout.ts
  app/api/MyActivities/patchMyActivitiesIdResId.ts
  app/components/Header/Alarm/MessageAlarm.tsx
  app/components/Header/Header.tsx
  app/components/Header/HeaderForm.tsx
  app/components/Header/UserProfileDropDown.tsx
  app/components/Modal/page.tsx
  app/context/AlarmContext.tsx
  app/context/AuthContext.tsx
  app/layout.tsx
  app/lib/auth.ts
  app/types/myActivities.type.ts
  package-lock.json
Labels: 🚨 fix, 🔧 refactor

#82 feat: 예약 내역 카드 UI 동기화
  app/(features)/(user)/myreservations/_components/Modal/MakeStar.tsx
  app/(features)/(user)/myreservations/_components/ReservationCard.tsx
  app/(features)/(user)/myreservations/_components/hooks/CancelReservation.tsx
  app/(features)/(user)/myreservations/_components/hooks/WriteReview.tsx
  app/(features)/(user)/myreservations/page.tsx
  app/components/Modal/ReviewModal.tsx
Labels: ✨ feat

#84 Refactoring: 체험등록 페이지 리펙토링
  app/(features)/(user)/myactivities/_components/AddressForm.tsx
  app/(features)/(user)/myactivities/_components/CategorySelect.tsx
  app/(features)/(user)/myactivities/_components/DescriptionForm.tsx
  app/(features)/(user)/myactivities/_components/ImageUploadForm.tsx
  app/(features)/(user)/myactivities/_components/PriceForm.tsx
  app/(features)/(user)/myactivities/_components/ScheduleForm.tsx
  app/(features)/(user)/myactivities/_components/TitleForm.tsx
  package-lock.json
  package.json
Labels: 🔧 refactor

#86 feat: 체험 삭제 실행시 동작 페이지(pathname)에 따라, 라우팅되는 주소 변경
  app/(features)/(user)/myactivities/MyActivitiesClient.tsx
  app/(features)/(user)/myactivities/page.tsx
  app/(features)/activity/[activityId]/page.tsx
  app/components/DropDown/ActivityEditDelete.tsx
  app/components/DropDown/DropDown.tsx
Labels: 🐱‍🐉 enhancement, ✨ feat

#87 fix: 프로필업데이트수정 (작업중)
  app/(features)/(user)/myprofile/_components/MyProfileForm.tsx
  app/components/Modal/ReviewModal.tsx
  app/components/SideNav/ProfileImage.tsx
Labels: 🚨 fix

#89 feat: myactivities 무한스크롤 구현
  app/(features)/(user)/myactivities/page.tsx
  app/(features)/activity/_components/ActivityLocationClient.tsx
  app/(features)/activity/_components/ActivityLocationServer.tsx
  app/components/Button/page.tsx
Labels: 🐱‍🐉 enhancement
